.docker-volumes
.env
/.web-server-pid
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/secret
var/secret/*
!var/secret/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
