includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon # doctrine extension
    - vendor/phpstan/phpstan-phpunit/extension.neon # phpunit extension
    - vendor/phpstan/phpstan-phpunit/rules.neon # phpunit rules
    - vendor/hanaboso/php-check-utils/phpstan.neon # hanaboso rules