DEV_UID={DEV_UID}
DEV_GID={DEV_GID}

# RabbitMQ
RABBITMQ_URL=http://rabbitmq:15672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/

# MongoDB
MONGO_DSN=mongodb://mongodb:27017/k8smetrics

# Kubernetes
K8S_CLUSTER_CONFIG=/root/.kube/config
K8S_NAMESPACE=pipes
K8S_ENABLED=false

# Loki
LOKI_URL=http://loki:3100

# App
APP_DEBUG=true
TICK=60
