.tree-view{
  border: 1px solid #D9DEE4;
  overflow-y: auto;
  padding: 6px;

  ul{
    padding-left: 0;
    list-style: none;
    background-color: rgb(247, 247, 247);

    li {
      padding-left: 10px;

      &.selected{
        background-color: #e9e9e9;
      }
    }
  }

  > ul {
    padding-left: 0;
  }
}