DEV_UID={DEV_UID}
DEV_GID={DEV_GID}

# App
APP_DEBUG=true
APP_PORT=8080

# MongoDB
MONGODB_DSN=mongodb://mongodb:27017/admin
MONGODB_HOSTNAME=mongodb

# RabbitMQ
RABBIT_HOSTNAME=rabbitmq
RABBIT_ADMIN_USER=guest
RABBIT_ADMIN_PASS=guest

# Kubernetes
K8S_CLUSTER_CONFIG=

# Helm
HELM_ROOT_DIR_FOR_FILES=/tmp/helm
HELM_ORCHESTY_VERSION=~2.1.15
HELM_BRIDGEPOOL_KEY=bridgepool

# Kong
KONG_ENABLED=true
KONG_ADMIN_URL=http://kong:8001
KONG_DOMAIN_SUFFIX=eu1.cloud.orchesty.io
KONG_RATE_LIMIT_POLICY=redis
KONG_RATE_LIMIT_LIMIT_BY=ip
KONG_RATE_LIMIT_REDIS_HOST=redis
KONG_RATE_LIMIT_REDIS_PORT=6379

# GCS (Object Storage)
GCS_ENABLED=true
GCS_PROJECT_ID=test-project
GCS_CREDENTIALS_FILE=
GCS_LOCATION=eu
GCS_ENDPOINT=http://fake-gcs:4443/storage/v1/
GCS_SERVICE_ACCOUNT_EMAIL=test@test-project.iam.gserviceaccount.com

# Cloud / Auth0
CLOUD_INSTANCE_PREFIX=prod
CLOUD_INSTANCE=orchesty-instance
CLOUD_AUTH0_DOMAIN=example.auth0.com
CLOUD_AUTH0_AUDIENCE=https://api.orchesty.example.com
CLOUD_AUTH0_CLIENT_ID=exampleClientId
