.x_panel{

  .x_title{
    h2{
      font-size: 18px;
      font-weight: 400;
    }

    .action-icon-panel{
      color: #C5C7CB;
    }
  }

  &.closed {
    padding-bottom: 0;

    .x_title {
      margin-bottom: 0;
      border-bottom: none;
    }
  }
}