.search-item-topology-group{
  display: flex;
  flex-direction: row;

  .icon{
    padding: 5px 5px 5px 0;
  }

  .info{
    flex: 1;
    display: flex;
    flex-direction: column;

    .category{
      font-style: italic;
    }
  }
}