*
!app-store/openapi.yaml
!cron/openapi.yaml
!lib-python/xml_parser/openapi.yaml
!limiter/openapi.yaml
!notification-sender/openapi.yaml
!pipes-php-sdk/openapi.yaml
!portal/openapi.yaml
!starting-point/openapi.yaml
!topology-generator/openapi.yaml
