includes:
	- ../vendor/hanaboso/php-check-utils/phpstan.neon

parameters:
	symfony:
		container_xml_path: %rootDir%/../../../var/cache/test/Demo_KernelTestDebugContainer.xml
	ergebnis:
		classesAllowedToBeExtended:
			- Demo\Connector\HubSpotCreateContactAbstract
			- DemoTests\KernelTestCaseAbstract
			- Hanaboso\PipesPhpSdk\Connector\ConnectorAbstract
			- Hanaboso\PipesPhpSdk\CustomNode\CustomNodeAbstract
			- Hanaboso\PipesPhpSdk\CustomNode\Impl\RabbitCustomNode
			- Hanaboso\PipesPhpSdk\LongRunningNode\Model\LongRunningNodeAbstract
			- Hanaboso\PipesPhpSdk\StatusService\StatusServiceCallback
