includes:
	- ../vendor/hanaboso/php-check-utils/phpstan.neon

parameters:
	symfony:
		containerXmlPath: %rootDir%/../../../var/cache/test/Demo_KernelTestDebugContainer.xml
	ignoreErrors:
			- '#Call to an undefined method Yasumi\\ProviderInterface\:\:isHoliday\(\)#'
	ergebnis:
		classesAllowedToBeExtended:
			- Demo\Connector\HubSpotCreateContactAbstract
			- DemoTests\KernelTestCaseAbstract
			- Hanaboso\PipesPhpSdk\Batch\BatchAbstract
			- Hanaboso\PipesPhpSdk\Connector\ConnectorAbstract
			- Hanaboso\PipesPhpSdk\CustomNode\CommonNodeAbstract
			- Hanaboso\PipesPhpSdk\CustomNode\Impl\RabbitCustomNode
