includes:
    - ../vendor/hanaboso/php-check-utils/phpstan.neon

parameters:
    doctrine:
        objectManagerLoader: DocumentManagerLoader.php
    symfony:
        container_xml_path: %rootDir%/../../../var/cache/test/PipesPhpSdkTests_app_KernelTestDebugContainer.xml
    ignoreErrors:
        - '#Parameter \#2 \$auth_session_handle of method OAuth::getAccessToken\(\) expects string, null given.#'
        -
            message: '#Access to an undefined property#'
            path: ../tests/*
        -
            message: '#Variable method call on Hanaboso\\PipesPhpSdk\\Application\\Base\\ApplicationInterface.#'
            path:  ../src/Application/Manager/ApplicationManager.php
