includes:
	- ../vendor/hanaboso/php-check-utils/phpstan.neon

parameters:
	symfony:
		containerXmlPath: %rootDir%/../../../var/cache/test/PipesPhpSdkTests_app_KernelTestDebugContainer.xml
	ignoreErrors:
		-   '#Parameter \#2 \$auth_session_handle of method OAuth::getAccessToken\(\) expects string, null given.#'
		-
			message: '#Access to an undefined property#'
			path: ../tests/*
		-
			message: '#Variable method call on Hanaboso\\PipesPhpSdk\\Application\\Base\\ApplicationInterface.#'
			path:  ../src/Application/Manager/ApplicationManager.php
		-
			message: '#Calling putenv\(\) is forbidden, might overwrite existing variables#'
			path:  ../tests/Integration/Command/AuthorizeUserCommandTest.php
	ergebnis:
		classesAllowedToBeExtended:
			- Hanaboso\MongoDataGrid\GridFilterAbstract
			- Hanaboso\PipesPhpSdk\Application\Base\ApplicationAbstract
			- Hanaboso\PipesPhpSdk\Authorization\Base\Basic\BasicApplicationAbstract
			- Hanaboso\PipesPhpSdk\Authorization\Base\OAuth1\OAuth1ApplicationAbstract
			- Hanaboso\PipesPhpSdk\Authorization\Base\OAuth2\OAuth2ApplicationAbstract
			- Hanaboso\PipesPhpSdk\Authorization\Provider\OAuthProviderAbstract
			- Hanaboso\PipesPhpSdk\Batch\BatchAbstract
			- Hanaboso\PipesPhpSdk\Connector\ConnectorAbstract
			- Hanaboso\PipesPhpSdk\CustomNode\CustomNodeAbstract
			- Hanaboso\PipesPhpSdk\CustomNode\Impl\RabbitCustomNode
			- Hanaboso\Utils\Exception\PipesFrameworkExceptionAbstract
			- PipesPhpSdkTests\ControllerTestCaseAbstract
			- PipesPhpSdkTests\DatabaseTestCaseAbstract
			- PipesPhpSdkTests\KernelTestCaseAbstract
			- RabbitMqBundle\Consumer\AsyncConsumer
			- RabbitMqBundle\Consumer\Consumer
			- RabbitMqBundle\Consumer\Consumer
			- Hanaboso\PipesPhpSdk\CustomNode\CommonNodeAbstract
			- Hanaboso\PipesPhpSdk\Storage\Mongodb\Repository
			- Hanaboso\PipesPhpSdk\Storage\Mongodb\Repository\NodeFilter
			- Hanaboso\PipesPhpSdk\Storage\Mongodb\Filter
			- Hanaboso\PipesPhpSdk\Storage\Mongodb\Document\Node
			- Hanaboso\PipesPhpSdk\Storage\Mongodb\DocumentAbstract

		classesNotRequiredToBeAbstractOrFinal:
			- Hanaboso\PipesPhpSdk\Application\Document\ApplicationInstall
			- Hanaboso\PipesPhpSdk\Application\Document\Webhook
			- Hanaboso\PipesPhpSdk\Storage\Mongodb\Document\Category
			- Hanaboso\PipesPhpSdk\Storage\Mongodb\Document\Node
			- Hanaboso\PipesPhpSdk\Storage\Mongodb\Document\Topology
			- Hanaboso\PipesPhpSdk\Storage\Mongodb\Document\TopologyApplication
			- Hanaboso\PipesPhpSdk\Storage\DataStorage\Document\DataStorageDocument
			- Hanaboso\PipesPhpSdk\Listener\RepeaterListener
			- Hanaboso\PipesPhpSdk\Storage\Mongodb\Filter
			- Hanaboso\PipesPhpSdk\Storage\Mongodb\Repository
			- PipesPhpSdkTests\MockServer\MockServerException
			- PipesPhpSdkTests\MockServer\MockServer
			- PipesPhpSdkTests\MockServer\Mock
