includes:
    - ../vendor/hanaboso/php-check-utils/phpstan.neon

parameters:
    doctrine:
        objectManagerLoader: DocumentManagerLoader.php
    symfony:
        container_xml_path: %rootDir%/../../../var/cache/test/PipesPhpSdkTests_app_KernelTestDebugContainer.xml
    ignoreErrors:
        - '#Access to an undefined property#'
        - '#PHPDoc tag @var for variable \$connection contains unresolvable type#'
        - '#Parameter \#2 \$auth_session_handle of method OAuth::getAccessToken\(\) expects string, null given.#'
        -
            message: '#PHPDoc tag @var for variable .+ contains unresolvable type.#'
            path: /*
