body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: justify;
}

main {
    flex: 1 0 auto;
}

.sticky-nav {
    position: fixed;
}

.sticky-nav a:hover {
    color: lightcoral;
    font-weight: bold;
}

.level_2 {
    margin-left: 30px;
}

.infoBlock {
    background-color: #2e6da4;
}

pre code {
    display: block;
    margin: 0 0 0 60px;
    padding: 15px 16px 14px;
    border-left: 1px solid #555;
    overflow-x: auto;
    font-size: 13px;
    line-height: 19px;
    color: #ddd;
    background-color: #333;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}