html {
  background-color: #f0f0f0;
}

.page-wrapper {
  border-radius: 0.75em !important;
  height: 100%;
  padding-left: 4px;
  padding-right: 4px;
}

.pointer {
  cursor: pointer;
}

.max-w-100 {
  max-width: 100% !important;
}
