$border-radius: 4px;
$border: 1px solid;

input.active,
input:hover {
  color: darken($code-block-clr, 10%);
  border-bottom: solid 2px $code-block-clr;
}

input:focus {
  outline: none;
}

// DO NOT OVERFLOW
#main-content {
  padding: 0 20px;

  figure,
  img {
    max-width: 100%;
  }

  pre {
    overflow-y: auto;
  }

  a {
    overflow-wrap: break-word;
  }
}

@media (max-width: map-get($breakpoints-max, "md")) {
  #main-content {
    padding: 0;
  }
}

// TABLE
table {
  background: $code-block-bg;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  color: $code-block-clr;
  @extend .my-3;

  td,
  th {
    border: $border $code-block-border;
    @extend .pa-1;
  }

  thead {
    background: $code-block-header-bg;
  }
}

// INFO BLOCK
.infoBlock {
  background: $info-block-bg;
  border: $border $info-block-border;
  border-radius: $border-radius;
  @extend .my-4;
  @extend .pa-2;
  display: flex;

  & svg {
    @extend .mr-2;
    width: 20px;
    margin-left: 10px;
    fill: $info-block-ico;
    overflow: visible;
  }

  & .content {
    margin-left: 5px;
    color: $regular-text;
    padding: 10px;
  }
}

// WARNING BLOCK
.warningBlock {
  @extend .infoBlock;
  background: $warning-block-bg;
  border: $border $warning-block-border;

  & svg {
    fill: $warning-block-ico;
  }
}

// INLINE CODE
#main-content {
  & :not(pre) > code {
    padding: 2px 4px;
    font-size: 0.9em;
    color: $inline-block-clr;
    background-color: $inline-block-bg;
    border-radius: $border-radius;
  }
}

// CODE BLOCK WITHOUT LANG
#main-content {
  .tab-content {
    & pre {
      border-radius: $border-radius;
      border: $border $code-block-border;
      padding: 10px;
      background-color: $code-block-bg;
    }
  }
}

// CODE BLOCK WITH LANG
#main-content {
  .main-code-block {
    background-color: $code-block-header-bg;
    @extend .my-3;
    border-radius: $border-radius;
    border: $border $code-block-border;
    position: relative;


    & label {
      font-weight: bold;
      font-size: 13px;
      position: absolute;
      left: 1px;
      top: 15px;
      text-align: center;
      width: 60px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      pointer-events: none;
    }

    & code {
      display: block;
      padding: 15px 16px 14px;
      overflow-x: auto;
      font-size: 13px;
      line-height: 19px;
      color: #ddd;
      background-color: $code-block-bg;
    }

    & pre {
      margin-left: -350px;
      border: none;
    }

    & input.tab-link {
      padding: 5px 10px 5px 10px;
      border: none;
      font-weight: bold;
      background-color: $code-block-header-bg;
    }

    & .copy-button {
      position: absolute;
      right: 5px;
      top: 3px;
      background: none;
      color: $code-block-clr;
      border: none;
      align-items: center;
      cursor: pointer;

      svg {
        fill: $code-block-clr;
        width: 20px;
        height: 20px;
        overflow: visible;
      }
    }

    & .copy-button:hover {
      svg {
        fill: darken($code-block-clr, 10%);
      }
    }

    &:hover::after {
      cursor: pointer;
    }
  }
}

// CODE THEME - (Savanna Light)
#main-content {
  /* Atelier-Savanna Comment */
  .hljs-comment,
  .hljs-quote {
    color: #5f6d64;
  }

  /* Atelier-Savanna Red */
  .hljs-variable,
  .hljs-template-variable,
  .hljs-attribute,
  .hljs-tag,
  .hljs-name,
  .hljs-regexp,
  .hljs-link,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class {
    color: #b16139;
  }

  /* Atelier-Savanna Orange */
  .hljs-number,
  .hljs-meta,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-literal,
  .hljs-type,
  .hljs-params {
    color: #9f713c;
  }

  /* Atelier-Savanna Green */
  .hljs-string,
  .hljs-symbol,
  .hljs-bullet {
    color: #489963;
  }

  /* Atelier-Savanna Blue */
  .hljs-title,
  .hljs-section {
    color: #478c90;
  }

  /* Atelier-Savanna Purple */
  .hljs-keyword,
  .hljs-selector-tag {
    color: #55859b;
  }

  .hljs-deletion,
  .hljs-addition {
    color: #171c19;
    display: inline-block;
    width: 100%;
  }

  .hljs-deletion {
    background-color: #b16139;
  }

  .hljs-addition {
    background-color: #489963;
  }

  .hljs {
    display: block;
    overflow-x: auto;
    background: #ecf4ee;
    color: #526057;
    padding: 0.5em;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: bold;
  }
}
// CODE BLOCK
