.search {
  position: relative;
  top: 20px;
  display: block;
}

.search-input {
  @extend .px-2;
  @extend .py-1;
  width: 100%;
  box-sizing: border-box;
  border: solid $grey-text 2px;
  border-radius: 5px;
}

.search-button {
  background-color: white;
  border: none;
  padding: 0;
  height: 25px;
  width: 35px;
  float: right;
  position: relative;
  top: -27px;
  right: 3px;
  cursor: pointer;

  & svg {
    width: 25px;
    height: 25px;
    fill: $grey-text;
  }
}