#version-container {
  font-size: 0.9rem;
  font-weight: bolder;
  margin-left: $left-sidebar-left-margin;
  margin-bottom: $left-sidebar-vertical-spacing;
  display: flex;

  & #text {
    color: $primary-dark;
    font-size: 0.9rem;
    margin-right: 5px;
  }

  & a {
    color: $primary-dark;
    font-size: 0.9rem;
  }

  & button {
    display: flex;
    flex-grow: 0;
    border: none;
    margin: 0 0 0 5px;
    padding: 0;
    background: none;
    cursor: pointer;

    svg {
      fill: darken($primary, 10%);
      width: 15px;
      height: 15px;
      @extend .pr-2;
      @extend .pl-4;
      @extend .py-2;
    }

    svg.up {
      padding: 5px;
    }
  }
}
