includes:
	- vendor/hanaboso/php-check-utils/phpstan.neon

parameters:
	doctrine:
		objectManagerLoader: tests/DocumentManagerLoader.php
	symfony:
		container_xml_path: %rootDir%/../../../var/cache/test/srcHanaboso_PipesFramework_KernelTestDebugContainer.xml
	ignoreErrors:
		- '#Service \"snc_redis\.default\" is private\.#'
		-
		    message: '#Calling json_encode\(\)#'
		    path: src/Configurator/Model/TopologyConfigFactory.php
		-
		    message: '#Access to an undefined property#'
		    path: tests/*
