parameters:
	ws:
		host: /stream

	rabbit-mq:
		host: rabbitmq
		port: 5672
		user: guest
		password: guest
		vhost: /

	stream:
		host: "http://stream:3030"

cc_api:
	base_uri: 'https://cleverconn.stage.hanaboso.net/'
	cert: %appDir%/../cert/stage-staf.pem

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

services:
	router: App\Router\RouterFactory::createRouter
	authenticator:  \App\Model\NullAuthenticator

	guzzle_client_factory:
		class: CmStream\GuzzleClientFactory(%stream.host%)

	subscriber:
		class: CmStream\Subscriber

	publish_form_factory:
		class: App\Forms\PublishFormFactory

	login_form:
		class: App\Forms\LoginFormFactory

	logout_form:
		class: App\Forms\LogoutFormFactory

	system_action_form:
		class: App\Forms\SystemActionFormFactory

	authorize_setting_form:
		class: App\Forms\AuthorizationSettingFormFactory

	authorize_generator_form:
		class: App\Forms\AuthorizationSettingGeneratorFactory

	authorize_form:
		class: App\Forms\AuthorizeFormFactory

	sync_form:
		class: App\Forms\SyncFormFactory

extensions:
	cc_api: CcApi\Bridges\DI\CcApiExtension
