parameters:
	ws:
		host: /stream

	rabbit-mq:
		host: rabbitmq
		port: 5672
		user: guest
		password: guest
		vhost: /

	stream:
		host: "http://stream:3030"
		queue: pipes.stream

	# TODO: don't mix .crt / .pem extensions (it's all .pem)
	#       is separate ca cert required? (it's part of hanaboso.pem)
	#       try to harmonize names with Swarm secret names (see ../compose)
	clever:
		host: 'https://api.dev.clevermonitor.com/v1.2'
		secret:
			cert: %appDir%/../cert/clever.pem
			ca: %appDir%/../cert/ca.crt

	mongo:
		dbhost: mongodb
		dbname: api-demo
		user: root
		password: root
		documentsDir: '%appDir%/../socialMultichannel/src/Documents'

cc_api:
	base_uri: ::getenv('BASE_URI')
	cert: %appDir%/../cert/stage-staff.pem

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

services:
	router: App\Router\RouterFactory::createRouter
	authenticator:  \App\Model\NullAuthenticator

	# STREAM EXTENSION
	guzzle_client_factory:
		class: CmStream\GuzzleClientFactory(%stream.host%)

	subscriber:
		class: CmStream\Subscriber

	# BASE
	login_form_factory:
		class: App\Forms\LoginFormFactory

	logout_form_factory:
		class: App\Forms\LogoutFormFactory

	# HOMEPAGE
	system_filter_form_factory:
		class: App\Forms\SystemFilterFormFactory

	# USER SYSTEMS
	system_install_form_factory:
		class: App\Forms\SystemInstallFormFactory

	# USER SYSTEM DETAIL
	switch_token_form_factory:
		class: App\Forms\SwitchTokenFormFactory

	send_event_form_factory:
		class: App\Forms\SendEventFormFactory

	authorize_generator_form_factory:
		class: App\Forms\AuthorizationSettingGeneratorFactory

	distribution_list:
		class: App\Model\DistributionList(%clever.host%,%clever.secret%)

	# CUSTOM FORMS
	wise_pop_factory:
		class: App\Form\Systems\WisePopFormFactory
	air_table_factory:
		class: App\Form\Systems\AirTableFormFactory
	facebook_leads_factory:
		class: App\Form\Systems\FacebookLeadsFormFactory

	# STREAM
	publish_form_factory:
		class: App\Forms\PublishFormFactory

	subscribe_form_factory:
		class: App\Forms\SubscribeFormFactory

	# MAPPING
	data_layout_form_factory:
		class: App\Forms\DataLayoutFormFactory

	mapping_form_factory:
		class: App\Forms\MappingFormFactory

mongo:
	uri: mongodb://mongo
	dbname: cmfile
	documentsDir:
		- %appDir%/../socialMultichannel/src/Documents

doctrine:
	host: mariadb
	user: root
	password: root
	dbname: cm-apidemo

console:
	name: 'API DEMO'
	version: '(endless version)'

extensions:
	cc_api: CcApi\Bridges\DI\CcApiExtension
	- WebChemistry\Forms\Controls\DI\MultiplierExtension
	social_multichannel: CleverCore\SocialMultichannel\DI\SocialMultichannelExtension

	## Mongo
	mongo: Bazo\MongoDb\DI\DocumentManagerExtension
	mongocomm: Bazo\MongoDb\DI\DoctrineODMCommandsExtension

	## Doctrine
	console: 'Kdyby\Console\DI\ConsoleExtension'
	events: 'Kdyby\Events\DI\EventsExtension'
	annotations: 'Kdyby\Annotations\DI\AnnotationsExtension'
	doctrine: 'Kdyby\Doctrine\DI\OrmExtension'
