includes:
	- vendor/phpstan/phpstan-symfony/extension.neon # symfony extension
	- vendor/phpstan/phpstan-doctrine/extension.neon # doctrine extension
	- vendor/phpstan/phpstan-phpunit/extension.neon # phpunit extension
	- vendor/phpstan/phpstan-phpunit/rules.neon # phpunit rules
	- vendor/hanaboso/php-check-utils/phpstan.neon # hanaboso rules

parameters:
	excludes_analyse:
	ignoreErrors:
		- '#Access to an undefined property*#'
		- '#Parameter \#2 \$auth_session_handle of method OAuth::getAccessToken\(\) expects string, null given.#'
	symfony:
		container_xml_path: %rootDir%/../../../var/cache/test/srcHanaboso_PipesPhpSdk_KernelTestDebugContainer.xml
