parameters:
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		- '#Call to an undefined method React\\Promise\\PromiseInterface::(otherwise|done|cancel|reject)\(\)\.#'
		- '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\).#'
		- '#Variable \$route might not be defined.#'
		- '#Cannot call method toArray\(\) on iterable<Hanaboso\\PipesFramework\\Configurator\\Document\\Embed\\EmbedNode>.#'
		- '#Property Hanaboso\\PipesFramework\\Acl\\Entity\\Group *#'
		- '#Property Hanaboso\\PipesFramework\\Acl\\Document\\Group *#'
		- '#PHPDoc tag \@return with type *#'
		- '#PHPDoc tag \@param for parameter *#'
		- '#Call to an undefined method Doctrine\\Common\\Persistence\\ObjectRepository::*.#'
		- '#Call to an undefined method Doctrine\\ORM\\EntityRepository::*.#'
		- '#Call to an undefined method Doctrine\\ODM\\MongoDB\\DocumentRepository::*.#'
