DEV_IP=127.0.0.67
DEV_UID={DEV_UID}
DEV_GID={DEV_GID}
WORKDIR=/var/www/pipes/clients/clever-connectors/mapper
NPM_INSTALL="npm install --save-dev"
GENERATOR_PATH=/var/www/pipes/clients/clever-connectors/pipes-api/topology
COMPOSE_PROJECT_NAME=cleverconnectors
PROJECT_SOURCE_PATH={PROJECT_SOURCE_PATH}
DOCKER_GID={DOCKER_GID}
DOCKER_SOCKET_PATH={DOCKER_SOCKET_PATH}
DEPLOYMENT_PREFIX=cc01
TOPOLOGY_MODE=swarm
