DEV_IP=127.0.0.67
DEV_UID={DEV_UID}
DEV_GID={DEV_GID}
WORKDIR=/var/www/pipes/clients/clever-connectors/mapper
NPM_INSTALL="npm install"
GENERATOR_PATH=/var/www/pipes/clients/clever-connectors/pipes-api/topology
COMPOSE_PROJECT_NAME=cleverconnectors
PROJECT_SOURCE_PATH=/home/sep/PhpstormProjects/pipes/clients/clever-connectors
