<!doctype html>
<html lang="en">

    <head>
        <title>PIPES - DOCS </title>
        <meta name="keywords" content="PiPES docs tutorials">
        <meta name="description" content="PiPES documentation site."/>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="theme-color" content="#ffffff">

        <link rel="apple-touch-icon" sizes="180x180" href="/ico/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/ico/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/ico/favicon-16x16.png">
        <link rel="manifest" href="/ico/site.webmanifest">
        <link rel="mask-icon" href="/ico/safari-pinned-tab.svg" color="#5bbad5">

        <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        <div id="page-wrapper" class="d-flex fd-column">
            <header>
                {{>navbar}}
            </header>

            <main class="fg-1">
                <div class="container">
                    <div class="row">
                        <div class="hide-sm-down col-md-3 col-lg-2 col-xl-2 pl-4">
                            {{>left-sidebar}}
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-7 col-xl-7">
                            {{>main-content}}
                        </div>

                        <div class="hide-md-down col-lg-3 col-xl-3">
                            {{>right-sidebar}}
                        </div>
                    </div>
                </div>
            </main>

            <footer id="main-footer" class="color-text-light">
                {{>footer}}
            </footer>
        </div>

        <script async defer src="/js/main.js"></script>
    </body>

</html>