@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-size: map-get(map-get($headings, "h1"), "size");
  font-weight: map-get(map-get($headings, "h1"), "weight");
  line-height: map-get(map-get($headings, "h1"), "line-height");
  letter-spacing: map-get(map-get($headings, "h1"), "letter-spacing");
}

h2 {
  font-size: map-get(map-get($headings, "h2"), "size");
  font-weight: map-get(map-get($headings, "h2"), "weight");
  line-height: map-get(map-get($headings, "h2"), "line-height");
  letter-spacing: map-get(map-get($headings, "h2"), "letter-spacing");
}

h3 {
  font-size: map-get(map-get($headings, "h3"), "size");
  font-weight: map-get(map-get($headings, "h3"), "weight");
  line-height: map-get(map-get($headings, "h3"), "line-height");
  letter-spacing: map-get(map-get($headings, "h3"), "letter-spacing");
}

.font-weight-semi-bold {
  font-weight: 600 !important;
}

.inline-label {
  font-size: map-get(map-get($headings, "h2"), "size");
  font-weight: map-get(map-get($headings, "h2"), "weight");
  text-transform: uppercase;
}

.text-x-small {
  font-size: 8px;
}

.text-wrap {
  white-space: normal;
}
