DEV_IP=127.0.0.66
DEV_UID={DEV_UID}
DEV_GID={DEV_GID}
NPM_INSTALL="npm install --save-dev"
WORKDIR=/var/www/pipes/clients/demo/mapper
GENERATOR_PATH=/var/www/pipes/clients/demo/pipes-api/topology
DOCKER_NETWORK=pipesdemo_default
