DEV_IP=127.0.0.66
DEV_UID={DEV_UID}
DEV_GID={DEV_GID}
SSH_AUTH={SSH_AUTH}
NPM_INSTALL="npm install --save-dev"
DOCKER_SOCKET_PATH={DOCKER_SOCKET_PATH}
BACKEND_URL=http://127.0.0.66
PROJECT_SOURCE_PATH={PROJECT_SOURCE_PATH}
PHP_IDE_CONFIG=serverName=127.0.0.66