VERSION=1.0.4

DEV_IP=127.0.0.66
DEV_UID={DEV_UID}
DEV_GID={DEV_GID}
SSH_AUTH={SSH_AUTH}
ORCHESTY_API_KEY={ORCHESTY_API_KEY}

BACKEND_URL=http://127.0.0.66:8080
FRONTEND_URL=http://127.0.0.66
DOCKER_SOCKET_PATH={DOCKER_SOCKET_PATH}
PROJECT_SOURCE_PATH={PROJECT_SOURCE_PATH}

MAIN_DB=demo
GENERATOR_MODE=compose
NETWORK_NAME=demo_default
RABBITMQ_DSN=amqp://rabbitmq:5672
MONGO_DSN=mongodb://mongo/demo?connectTimeoutMS=2500&serverSelectionTimeoutMS=2500&socketTimeoutMS=2500&heartbeatFrequencyMS=2500
METRICS_DSN=mongodb://mongo/metrics?connectTimeoutMS=2500&serverSelectionTimeoutMS=2500&socketTimeoutMS=2500&heartbeatFrequencyMS=2500
