# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: mongo
    database_port: ~
    database_name: clever-connectors
    database_user: root
    database_password: root
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # Base params
    locale: en

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    stdout_path: "php://stdout"

    request_listener.http_port: 80
    request_listener.https_port: 80

    # Rabbitmq
    rabbitmq.host: rabbitmq
    rabbitmq.port: 5672
    rabbitmq.vhost: /
    rabbitmq.user: guest
    rabbitmq.password: guest

    backend_host: 127.0.0.66
    cron_host: 127.0.0.66

    access_token_refresh_interval: 3600