.v-data-table-header {
  background-color: #f0f0f0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.v-data-table {
  overflow-x: auto !important;
}

.bg-primary {
  background-color: var(--v-primary-base) !important;
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

tbody {
  tr.custom-expanded-row:hover {
    background-color: transparent !important;
  }
}

.td-relative-container {
  position: relative;

  .button-absolute {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
  }
}
