includes:
	- ../vendor/hanaboso/php-check-utils/phpstan.neon

parameters:
	doctrine:
		objectManagerLoader: DocumentManagerLoader.php
	symfony:
		containerXmlPath: %rootDir%/../../../var/cache/test/Hanaboso_PipesFrameworkEnterprise_KernelTestDebugContainer.xml
	ignoreErrors:
		- 
			identifier: missingType.generics
		-
			message: '#.*#'
			path: ../tests/app/config/reference.php
		-
			identifier: method.internalClass
			path: ../src/HbPFEnterpriseConfiguratorBundle/Handler/CloudMetricsHandler.php
	ergebnis:
		classesAllowedToBeExtended:
			- Hanaboso\AclBundle\Enum\ActionEnum
			- Hanaboso\AclBundle\Enum\ResourceEnum
			- Hanaboso\Utils\Exception\PipesFrameworkExceptionAbstract
			- Hanaboso\PipesFramework\Configurator\Document\TopologyProgress
			- Hanaboso\PipesFramework\Configurator\Model\TopologyManager
			- Hanaboso\PipesFramework\Database\Document\Topology
			- Hanaboso\PipesFramework\HbPFConfiguratorBundle\Handler\TopologyHandler
			- Hanaboso\PipesFramework\HbPFUserBundle\Handler\UserHandler
			- Symfony\Component\Security\Http\Authenticator\AbstractAuthenticator
			- PipesFrameworkEnterpriseTests\ControllerTestCaseAbstract
			- PipesFrameworkEnterpriseTests\DatabaseTestCaseAbstract
			- PipesFrameworkEnterpriseTests\KernelTestCaseAbstract
		classesNotRequiredToBeAbstractOrFinal:
			- Hanaboso\PipesFrameworkEnterprise\Acl\Enum\ActionEnum
			- Hanaboso\PipesFrameworkEnterprise\AuditLog\Document\AuditLog
			- Hanaboso\PipesFrameworkEnterprise\Configurator\Document\TopologyProgress
			- Hanaboso\PipesFrameworkEnterprise\Database\Document\Topology
			- Hanaboso\PipesFrameworkEnterprise\Configurator\Model\TopologyManager
			- Hanaboso\PipesFrameworkEnterprise\Configurator\Handler\TopologyHandler
			- Hanaboso\PipesFrameworkEnterprise\Mcp\Document\AuditData
			- Hanaboso\PipesFrameworkEnterprise\Mcp\Document\AuditDataField
			- Hanaboso\PipesFrameworkEnterprise\Mcp\Document\AuditEntity
			- Hanaboso\PipesFrameworkEnterprise\Mcp\Document\AuditEntityField
