$xs: 0px;
$sm: 630px;
$md: 960px;
$lg: 1210px;
$xl: 1700px;

$sm-content-width: $sm - 0;
$md-content-width: $md - 0;
$lg-content-width: $lg - 20;
$xl-content-width: $xl - 40;

$breakpoints-min: (
        'xs': $xs,
        'sm': $sm,
        'md': $md,
        'lg': $lg,
        'xl': $xl
);

$breakpoints-max: (
        'xs': $sm - 1,
        'sm': $md - 1,
        'md': $lg - 1,
        'lg': $xl - 1,
        'xl': 99999px
);
