$primary: #00B8A9;
$primary-dark: darken($primary, 5%);
$text-light: #ffffff;
$grey-bg: #E9E9E9;
$grey-text: #818181;
$regular-text: #737373;

$code-block-header-bg: #ebebeb;
$code-block-bg: #fbfbfb;
$code-block-border: #ebebeb;
$code-block-clr: #555555;

$info-block-bg: #e8f4fb;
$info-block-border: #c0ddee;
$info-block-ico: #96ceed;

$warning-block-bg: #FFF2EA;
$warning-block-border: #fccfb2;
$warning-block-ico: #FDAF7C;

$inline-block-bg: #f9f2f4;
$inline-block-clr: #c7254e;

$color-list: (
        'primary': $primary,
        'text-light': $text-light
);

@each $color-name, $color in $color-list {
  .bg-#{$color-name} {
    background-color: $color;
  }
}

@each $color-name, $color in $color-list {
  .color-#{$color-name} {
    color: $color;
  }
}
