$left-sidebar-vertical-spacing: 14px;
$left-sidebar-left-margin: 8px;

$spacing-base-size: 14px;

$spaces: (
        0: $spacing-base-size * 0,
        1: $spacing-base-size * 0.25,
        2: $spacing-base-size * 0.5,
        3: $spacing-base-size * 1,
        4: $spacing-base-size * 1.5,
        5: $spacing-base-size * 3
);

@each $space, $size in $spaces {
  .ma-#{$space} {
    margin: $size;
  }

  .mx-#{$space} {
    margin-left: $size;
    margin-right: $size;
  }

  .my-#{$space} {
    margin-top: $size;
    margin-bottom: $size;
  }

  .mt-#{$space} {
    margin-top: $size;
  }

  .mr-#{$space} {
    margin-right: $size;
  }

  .mb-#{$space} {
    margin-bottom: $size;
  }

  .ml-#{$space} {
    margin-left: $size;
  }

  .pa-#{$space} {
    padding: $size;
  }

  .px-#{$space} {
    padding-left: $size;
    padding-right: $size;
  }

  .py-#{$space} {
    padding-top: $size;
    padding-bottom: $size;
  }

  .pt-#{$space} {
    padding-top: $size;
  }

  .pr-#{$space} {
    padding-right: $size;
  }

  .pl-#{$space} {
    padding-left: $size;
  }

  .pb-#{$space} {
    padding-bottom: $size;
  }
}
