<div class="container">
	<div class="row py-5">
		<div class="col-xs-12 col-md-2">
			<img id="footer-logo" class="logo" src="/img/logo_1.png" alt="pipes">
		</div>

		<div class="col-xs-12 col-md-5 col-lg-3">
			<h3 class="light-headline">
				Header
			</h3>

			<p class="light-regular-text">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. At
				corporis maxime reiciendis alias culpa labore unde doloremque a
				voluptatum! Enim aperiam non culpa obcaecati quos ab earum
				voluptates possimus soluta.
			</p>
		</div>

		<div class="col-xs-12 col-md-5 col-lg-3">
			<h3 class="light-headline">
				Header
			</h3>

			<p class="light-regular-text">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. At
				corporis maxime reiciendis alias culpa labore unde doloremque a
				voluptatum! Enim aperiam non culpa obcaecati quos ab earum
				voluptates possimus soluta.
			</p>
		</div>

		<div class="col-xs-12 col-md-offset-2 col-md-5 col-lg-offset-0 col-lg-3">
			<h3 class="light-headline">
				Header
			</h3>

			<p class="light-regular-text">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. At
				corporis maxime reiciendis alias culpa labore unde doloremque a
				voluptatum! Enim aperiam non culpa obcaecati quos ab earum
				voluptates possimus soluta.
			</p>
		</div>
	</div>
</div>