<nav class="main-menu">
	<ul class="light-link">
		<li>
			<a href="#">
				Home
			</a>
		</li>
		<li>
			<a href="#">
				About
			</a>
		</li>
		<li>
			<a href="#" class="active">
				Docs
			</a>
		</li>
		<li>
			<a href="#">
				Contacts
			</a>
		</li>
		<li class="hide-md-down">|</li>
		<li>
			<a href="#">
				Profile
			</a>
		</li>
		<li>
			<a href="/docs/en/" onclick="SwitchLanguage('en')">
				EN
			</a>
		</li>
		<li>
			<a href="/docs/cs/" onclick="SwitchLanguage('cs')">
				CS
			</a>
		</li>
	</ul>
</nav>