<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link
                href="https://cdn.skypack.dev/bootstrap@5/dist/css/bootstrap.min.css"
                rel="stylesheet"
                crossorigin="anonymous"
        />
    </head>
    <body>
        <style>
            body,
            html,
            main {
                width: 100%;
                height: 100%;
            }

            main {
                display: grid;
                place-content: center;
                text-align: center;
            }
        </style>
        <main>
            <h1>Applinth demo page</h1>
            <h2>(Hanaboso stage)</h2>
            <section class="button m-5">
                <a id="link" href="<%= url %>" class="btn btn-primary">Go to Applinth Marketplace</a>
            </section>
        </main>
    </body>
</html>
`;
