*
!applinth/bin
!applinth/config
!applinth/public
!applinth/src
!applinth/php-local.ini
!applinth/composer.json
!applinth/composer.lock
!pf-bundles/src
!pf-bundles/composer.json
!pipes-php-sdk/src
!pipes-php-sdk/composer.json
!app-store/src
!app-store/composer.json
