includes:
    - ../vendor/hanaboso/php-check-utils/phpstan.neon

parameters:
    symfony:
        container_xml_path: %rootDir%/../../../var/cache/test/Hanaboso_Portal_KernelTestDebugContainer.xml
    ignoreErrors:
        - '#Variable (property access|method call) on#'
        - '#Variable method call on \$this(Hanaboso\\Portal\\Model\\Installer\\Installer).#'
    ergebnis:
        classesAllowedToBeExtended:
            - Hanaboso\Portal\DependencyInjection\PortalExtension
            - Hanaboso\Utils\Exception\PipesFrameworkExceptionAbstract
            - PortalTests\ControllerTestCaseAbstract
            - PortalTests\KernelTestCaseAbstract
