<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
         convertNoticesToExceptions="false"
         convertErrorsToExceptions="false"
         convertWarningsToExceptions="false"
         verbose="false"
>
    <php>
        <ini name="error_reporting" value="0" force="true"/>
        <env name="KERNEL_CLASS" value="App\Kernel" force="true"/>
        <env name="APP_ENV" value="test" force="true"/>
        <env name="APP_DEBUG" value="0" force="true"/>
        <env name="APP_SECRET" value="s$cretf0rt3st" force="true"/>
        <env name="SHELL_VERBOSITY" value="-1" force="true"/>
        <env name="CC_API_BACKEND" value="https://clever-conn1.stage.hanaboso.net/" force="true"/>
        <env name="NOTIFICATION_BACKEND" value="127.0.0.70" force="true"/>
        <env name="TEMPLATING_BACKEND" value="127.0.0.1" force="true"/>
        <env name="WORKFLOW_BACKEND" value="127.0.0.2" force="true"/>
        <env name="BASE_URI" value="https://clever-conn1.stage.hanaboso.net/" force="true"/>
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/</directory>
        </whitelist>
    </filter>
</phpunit>