.tree-view{
  border: 1px solid #D9DEE4;
  overflow-y: auto;
  padding: 6px;

  ul{
    padding-left: 0;
    list-style: none;
    background-color: rgb(247, 247, 247);

    li {
      padding-left: 10px;

      &.selected {
        > .tree-view-item {
          background-color: #e9e9e9;
        }
      }

      .tree-view-item {

        display: flex;

        .item-caption {
          flex: 1;
        }

        .quick-buttons {
          float: right;
          display: inline-block;

          i {
            visibility: hidden;
          }

          &:hover {
            i {
              visibility: visible;
            }
          }
        }
      }
    }
  }

  > ul {
    padding-left: 0;
  }
}