# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: mongo
    database_port: ~
    database_name: clever-connectors
    database_user: root
    database_password: root
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    # Base params
    locale: en

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    stdout_path: "php://stdout"

    request_listener.http_port: 80
    request_listener.https_port: 80

    # Rabbitmq
    rabbitmq.host: rabbitmq
    rabbitmq.port: 5672
    rabbitmq.vhost: /
    rabbitmq.user: guest
    rabbitmq.password: guest

    # InfluxDb
    influx.host: influxdb
    influx.api_port: 8086
    influx.udp_port: 8089
    influx.user: admin
    influx.password: password
    influx.database: pipes
    influx.node_table: pipes_node
    influx.fpm_table: pipes_monolith_fpm
    influx.rabbit_table: rabbitmq_queue
    influx.counter_table: pipes_counter

    env(BACKEND_HOST): '127.0.0.5'
    backend_host: '%env(BACKEND_HOST)%'
    env(ELASTIC_HOST): elasticsearch
    elastic_host: '%env(ELASTIC_HOST)%'
    env(ELASTIC_INDEX): index
    elastic_index: '%env(ELASTIC_INDEX)%'
    cron_host: 'http://cron-api:5000'
    spitter_host: 'http://spitter-api'
    monolith_host: 'http://monolith-api'
    notification_host: 'http://notification-sender-api/notification-sender'

    clevermonitor:
        ca: '%kernel.project_dir%/var/secret/ca.crt'
        cert: '%kernel.project_dir%/var/secret/keypair.pem'
    access_token_refresh_interval: 3600
    limit_refresh_interval: 86400

    connectors_topologies: '%kernel.project_dir%/src/AppBundle/Model/Systems/Impl'
    plugins_topologies: '%kernel.project_dir%/src/AppBundle/Model/Plugins/Topologies'
    service_topologies: '%kernel.project_dir%/src/AppBundle/Model/ServiceTopologies'
